.bloco3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 79ch;
    background-color: rgb(27, 27, 27);
    color: white;
}

.bloco3 h1 {
    font-size: 60px;
    margin-left: 32px;
    font-weight: bolder;
}

.bloco3 .promo_roxo {
    color: #604a7b;
    font-weight: bolder;
}

.banner-oferta{
    background-color: rgb(96 74 123);
    display: flex;
    width: 65em;
    flex-direction: column;
    border-radius: 0px 57px 57px 0px;
}

.banner-oferta .titulo{
    background-color: yellow;
    color: #403152;
    height: 41px;
    width: 400px;
    margin-left: 39px;
    border-radius: 9px;
    font-size: 24px;
    text-align: center;
}

.banner-oferta .oferta{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 9px;
    right: 44px;
}


.oferta-lado-esquerdo{
    display: flex;
    flex-direction: row;
}

.oferta-lado-esquerdo img {
    height: 192px;
}

.oferta-lado-esquerdo ul li h4{
    font-size: 15px;
    
}

.oferta-lado-esquerdo ul li{
    list-style: none;
    font-size: 13px;
}

.oferta-lado-direito{
    position: relative;
    bottom: 58px;
    font-size: 18px;
}

.oferta-lado-direito h3 s{
    color: #afacac;
}

.oferta-lado-direito h3 span{
    font-size: 60px;
    color: #ffd0d8;
}

.oferta-lado-direito button{
    font-size: 20px;
    font-weight: bolder;
    height: 51px;
    width: 235px;
    border: 4px solid black;
    border-radius: 12px;
    border-bottom: 8px solid;
}