.bloco3 {
    font-family: 'Archivo Black';
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 470px;
    background-color: rgb(27, 27, 27);
    color: white;
}

.bloco3 h1 {
    font-size: 56px;
    margin: 20px 25px 16px;
    font-weight: bolder;
}

.bloco3 .promo_roxo {
    color: rgb(96, 74, 123);
    font-weight: bolder;
}

.banner-oferta
{
    background-color: rgb(96 74 123);
    display: flex;
    flex-direction: row;
    width: 75%;
    border-radius: 0px 57px 57px 0px;
    justify-content: space-evenly;
}

.oferta-lado-esquerdo
{
    /* margin: 0 0 0 30px; */
    padding: 10px 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: baseline;
}

.oferta-lado-esquerdo .titulo
{
    background-color: yellow;
    padding: 5px 3px;
    color: #403152;
    height: 30px;
    width: 380px;
    margin: 5px 0 10px 2px;
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
}

.oferta-lado-esquerdo .box-info
{
    display: flex;
    flex-direction: row;
}

.promo-box-livros-lista
{
    list-style-type: none;
    padding-inline-start: 22px;
    margin: 0 auto;
    font-family: 'Open Sans';
}

.promo-box-livros-lista h4
{
    margin: 20px 0 10px;
    font-size: 18px;
}

.oferta-lado-esquerdo img {
    height: 192px;
}

.promo-box-livros-lista ul li{
    list-style: none;
    font-size: 12px;
}




/* .banner-oferta .titulo{
    background-color: yellow;
    color: #403152;
    height: 41px;
    width: 400px;
    margin-left: 39px;
    border-radius: 9px;
    font-size: 24px;
    text-align: center;
} */

/* .banner-oferta .oferta{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 9px;
    right: 44px;
} */


/* .oferta-lado-esquerdo{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: nowrap;
} */



/* .oferta-lado-esquerdo ul li h4{
    font-size: 15px;
    
} */



.oferta-lado-direito{
    display: flex;
    flex-direction: column;
    font-family: 'Archivo';
    /* margin: auto; */
    align-items: flex-end;
    align-content: center;
    justify-content: space-evenly;
}

.oferta-lado-direito h3{
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    margin: 0;
}

.oferta-lado-direito h3 s{
    color: #afacac;
}

.oferta-lado-direito .promo-preco{
    font-size: 60px;
    line-height: 65px;
    color: #ffd0d8;
}

.oferta-lado-direito button{
    font-size: 20px;
    font-weight: bolder;
    height: 50px;
    width: 235px;
    border: 4px solid black;
    border-radius: 12px;
    border-bottom: 8px solid;
}